
.lista-vagas{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 35px;
}
.lista-vagas .card{
    margin: 5px 15px;
    text-align: center;
    min-height: 450px;
    background-color: rgba(128, 128, 128, 0.767);
    color: white;
}
